/*RESET */
*{
    margin: 0; 
    padding: 0;
    font-family: Verdana, Geneva, Tahoma , sans-serif;
}

/* HEADER */ 
header{
    height: 100px;
    background: #006270;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    color: #00e0c7;
    font-weight: 250;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu, 
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order:1;
}

.menu a:hover,
.mostrar-menu:hover, 
.esconder-menu:hover{
    color: #00e0c7;
}

#check{
   display : none;
}

/*Banner*/
#banner{
    padding: 0 50px;
    background-image: url(../imagenes/banner.jpg);
    height: 50vh; 
    background-size: cover;
    background-position: center;
}

/*Efecto neblina del baner*/
#banner::before{
    content: '';
    background: rgba(77,77,92,0.6);
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
}

.contenido-banner{
    position: relative;
    color: #fff ;
    height: 100% ;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.contendio-baner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}
.contendio-baner h3 span{
    font-weight: 600;
}

.boton-registrar{
    text-decoration: none;
    background: #0056b3;
    color: #fff;
    border: solid #006270;
    padding: 20px , 40px;
    align-self: baseline;
    transition: all 0,4s ;
    border-radius: 5px;
    font-size: 20px;

}

.boton-registrar:hover{
    background: #007bff;
}

/*size imagen*/

#imagen-ubicacion,
#imagen-telefono{
    width: 150px;
    height: 150px;
}


/*Informacion*/

#informacion{
    padding:50px 50px; 
    display: flex;
    justify-content: center;
    text-align: center;
}

#informacion img{
    border-radius: 100%;
}

#informacion div{
    padding: 30px 30px;
}

#informacion div h4{
    color: #4d4d4d;
    font-size: 20px;
    margin: 15px 0px;

}

#informacion div p{
    color: #8d8c8c;
    font-size: 18px;
}

.boton-direccion-local{
    display: inline-block;
    text-decoration: none;
    color: #006270;
    padding: 10px 30px ;
    border: 3px solid #00e0c7;
    border-radius: 30px;
    margin: 15px;
    transition: all 0.4s;
}

.boton-contacto:hover{
    background: #00e0c7;
    color: #fff;
}

/*size iconos*/

.icono-1,
.icono-2,
.icono-3{
    width: 100px;
    height: 100px;
}

/*Iconos*/
#iconos{
    padding: 0px 50px;
    background: #4d4d4d;
}

.contenido-iconos{
    padding: 50px 50px 0px 50px;
    display: flex ;
    justify-content: space-between;
    text-align: center ;
}

.contenido-iconos div{
    flex: 1 ;
    margin: 20px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

#icono-3{
    border: none;
}

.contenido-iconos div h4{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}

.contenido-iconos div p{
    color:rgba(255, 255, 255, 0.55);
    font-size: 15px;
}

/* RESPONSIVE */
@media(max-width: 768px){

    /*HEADER*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d4d;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.4s;

    }
    .menu a{
        display: block;
        padding: 20px;

    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;

    }
    #check:checked ~ .menu{
        right: 0;

    }

    /*Informacion*/
    
    #informacion{
        flex-direction: column;
    }

    /*icono*/
    .contenido-iconos{
        flex-direction: column;
    }

    .contenido-iconos div{
        border: none;
    }

}

/*--------------registro---------------*/

#registrar{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.registrar-form{
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

section h4{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    flex-direction: column;
}

.registrar-form label{
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.regitrar-form input,
select,
button
{
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Base de datos */
#base-datos{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#estilo-base-datos{
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

#titulo-base-datos{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    flex-direction: column;
}

/* Estilo de la tabla de base de datos */

.tabla-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Para mejor scroll en móviles */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
  }
  
  table thead {
    background-color: #007bff;
    color: white;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
