<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/style.css">
    <title>VitaPet</title>
</head>
<body>
    <header>
        <h2 class="logo">VitaPet</h2>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <nav class="menu"> 
            <a href="index.html">Inicio</a>
            <a href="sobre-nosotros.html">Sobre nosotros</a>
            <a href="base-datos.html">Base de datos</a>
            <label for="check" class="esconder-menu">
                &#215
            </label>
        </nav>
    </header>

    <section id="informacion">
        <div> 
            <img src="../static/imagenes/ubicacion.png" id="imagen-ubicacion">
            <h4>Ubicacion</h4>
            <p>juan Martha #537</p>
            <a href="https://www.google.com/maps/@20.7744108,-102.7577687,135m/data=!3m1!1e3?entry=ttu&g_ep=EgoyMDI0MTExOC4wIKXMDSoASAFQAw%3D%3D" class="boton-direccion-local">Ver ubicacion</a>
        </div>
        <div> 
            <img src="../static/imagenes/telefono.png" id="imagen-telefono">
            <h4>Contactanos</h4>
            <p>Llamanos para informacion</p>
            <a href= tel:+523781121462 class="boton-direccion-local">Contactanos</a>
        </div>
    </section>

    <section id="iconos">
        <div class="contenido-iconos">
            <div>
                <img src="../static/imagenes/icono1.png" class="icono-1">
                <h4>Baño</h4>
                <p>Baño de todo tipo de mascotas</p>
            </div>
            <div>
                <img src="../static/imagenes/icono2.png" class="icono-2">
                <h4>Consultas</h4>
                <p>Consulta a todo tipo de mascotas</p>
            </div>
            <div>
                <img src="../static/imagenes/icono3.png" class="icono-3">
                <h4>Servicio</h4>
                <p>Servicio todo el dia todos los dias</p>
            </div>
        </div>
    </section>
</body>
</html>